<app-nav class="w-100"></app-nav>

<div class="container row row-cols-lg-2 row-cols-1 w-100 text-white justify-content-center" *ngIf="userProfile$ | async as userProfile">
  <div class="row w-100 justify-content-center mb-xl-3">
    <div class="col-lg-3 col-md-8 col-6 align-self-start d-flex" id="avatar">
      <img [src]="userProfile.avatar_url" alt="" class="img-fluid rounded-circle">
    </div>

    <div class="col-lg-9 col-md-12 my-lg-0 my-3 d-flex align-items-start flex-column py-lg-4 text-size">
      <div class="row row-cols-md-2 row-cols-1 mb-auto w-100">
        <div class="col primeira-fila">
          <div>
            <span class="text-light">Nome: </span> <span class="fw-bold">{{ userProfile.name }}</span>
          </div>

          <div>
            <span class="text-light">Username: </span> <span class="fw-bold">{{ userProfile.username }}</span>
          </div>

          <div>
            <button type="button" class="btn btn-outline-info">Biografia</button>
          </div>
        </div>

        <div class="col segunda-fila">
          <div>
            <span class="text-light">Empresa: </span> <span class="fw-bold">{{ userProfile.company }}</span>
          </div>

          <div>
            <span class="text-light">Localização </span>: <span class="fw-bold">{{ userProfile.location }}</span>
          </div>

          <div>
            <span class="text-light">Repositórios Públicos: </span> <span class="fw-bold">{{ userProfile.public_repos }}</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div>
          <span class="text-light">Github: </span> <a [href]="userProfile.github_link" target="_blank">{{ userProfile.github_link }}</a>
        </div>

        <div>
          <span class="text-light">Blog: </span> <a [href]="userProfile.blog_link" target="_blank">{{ userProfile.blog_link }}</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center w-100">

    <app-follows-box [urlProfile]="urlProfile" [numberFollowings]="userProfile.following" [numberFollowers]="userProfile.followers"></app-follows-box>

  </div>
</div>
