<app-nav class="w-100"></app-nav>

<div class="container row row-cols-lg-2 row-cols-1 w-100 text-white justify-content-center">
  <div class="row w-100 justify-content-center mb-xl-3">
    <div class="col-lg-3 col-md-8 col-6 align-self-start d-flex" id="avatar">
      <img [src]="avatarPath" alt="" class="img-fluid rounded-circle">
    </div>

    <div class="col-lg-9 col-md-12 my-lg-0 my-3 d-flex align-items-start flex-column py-lg-4 text-size">
      <div class="row row-cols-md-2 row-cols-1 mb-auto w-100">
        <div class="col primeira-fila">
          <div>
            Nome:
          </div>

          <div>
            Username:
          </div>

          <div>
            <button type="button" class="btn btn-primary">Biografia</button>
          </div>
        </div>

        <div class="col segunda-fila">
          <div>
            Empresa:
          </div>

          <div>
            Localização:
          </div>

          <div>
            Repositórios Públicos:
          </div>
        </div>
      </div>

      <div class="row">
        <div>
          Github: <a href="#">Link</a>
        </div>

        <div>
          Blog: <a href="#">Link</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center w-100">

    <div class="row justify-content-center text-center button-size">
      <div class="col-6 col-md-5">
        FOLLOWERS: 20
      </div>
      <div class="col-6 col-md-5">
        FOLLOWINGS: 10
      </div>
    </div>

    <div class="row row-cols-xxl-4 row-cols-lg-3 row-cols-md-2 g-xxl-3 g-xl-5 g-lg-5 g-4 container-fluid border border-secondary rounded-4 mt-0 mb-5 p-3">

      <app-account-box [fullName]="'John Doe'" [username]="'johndoe'"></app-account-box>
      <app-account-box [fullName]="'Filistina'" [username]="'fistinho'"></app-account-box>
      <app-account-box [fullName]="'Alexandre Junior'" [username]="'so pra trestar, moreno'"></app-account-box>
      <app-account-box [fullName]="'John Doe'" [username]="'johndoe'"></app-account-box>
      <app-account-box [fullName]="'John Doe'" [username]="'johndoe'"></app-account-box>
      <app-account-box [fullName]="'Filistina'" [username]="'fistinho'"></app-account-box>
      <app-account-box [fullName]="'Teste Gostosinhoaaaaa Arrocha toda'" [username]="'exemplo -de- username- com39caracteres'"></app-account-box>
      <app-account-box [fullName]="'John Doe'" [username]="'johndoe'"></app-account-box>
      <app-account-box [fullName]="'John Doe'" [username]="'johndoe'"></app-account-box>
      <app-account-box [fullName]="'Filistina'" [username]="'fistinho'"></app-account-box>
      <app-account-box [fullName]="'Alexandre Junior'" [username]="'so pra trestar, moreno'"></app-account-box>
      <app-account-box [fullName]="'John Doe'" [username]="'johndoe'"></app-account-box>
      <app-account-box [fullName]="'John Doe'" [username]="'johndoe'"></app-account-box>
      <app-account-box [fullName]="'Filistina'" [username]="'fistinho'"></app-account-box>
      <app-account-box [fullName]="'Teste Gostosinhoaaaaa Arrocha toda'" [username]="'exemplo -de- username- com39caracteres'"></app-account-box>
      <app-account-box [fullName]="'John Doe'" [username]="'johndoe'"></app-account-box>
      <app-account-box [fullName]="'John Doe'" [username]="'johndoe'"></app-account-box>
      <app-account-box [fullName]="'Filistina'" [username]="'fistinho'"></app-account-box>
      <app-account-box [fullName]="'Alexandre Junior'" [username]="'so pra trestar, moreno'"></app-account-box>
      <app-account-box [fullName]="'John Doe'" [username]="'johndoe'"></app-account-box>
      <app-account-box [fullName]="'John Doe'" [username]="'johndoe'"></app-account-box>
      <app-account-box [fullName]="'Filistina'" [username]="'fistinho'"></app-account-box>
      <app-account-box [fullName]="'Teste Gostosinhoaaaaa Arrocha toda'" [username]="'exemplo -de- username- com39caracteres'"></app-account-box>
      <app-account-box [fullName]="'John Doe'" [username]="'johndoe'"></app-account-box>
    </div>

  </div>
</div>
